*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --offset: 8px;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  background: black;
  padding-top: var(--tg-safe-area-inset-top);
  padding-bottom: var(--tg-safe-area-inset-bottom);
  padding-left: var(--offset);
  padding-right: var(--offset);
  height: 100dvh;
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  background: black;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border-radius: 48px;
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 85%;
  background: lightblue;
  border-radius: 48px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  &:not(:last-child) {
    margin-bottom: var(--offset);
  }
}
