*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  scroll-snap-type: y mandatory;
}

body {
  background: black;
  height: 100dvh;
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 85%;
  background: lightblue;
  border-radius: 24px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
